body {
  font-family: 'Montserrat', sans-serif;
  /* background: radial-gradient(circle at center, #ffffff, #b1feb2); */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Установка высоты для .wrapper по высоте содержимого */
}

.container {
  display: flex;
  flex-direction: column; /* Изменение направления flex на колонки */
  align-items: center; /* Выравнивание по центру по горизонтали */
}

.hello-text {
  text-align: center;
  font-size: 46px; /* Увеличение размера текста для элемента .hello-text */
  line-height: 1.5;
  margin-top: 20px; /* Добавим отступ сверху для текста */
  margin-bottom: 20px; /* Добавим отступ снизу для текста */
    color: rgb(114, 114, 114);  /* Цвет текста */
}

.main-img {
  width: 400px; /* Уменьшим ширину изображения */
}

.text {
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  margin-top: 20px; /* Добавим отступ сверху для текста */
    color: rgb(114, 114, 114);  /* Цвет текста */
}

.img-ozon {
  width: 300px; /* Уменьшим ширину изображения магазина */
  height: auto; /* Разрешим менять высоту, чтобы сохранить пропорции */
}

.img-2048 {
  width: 100px; /* Уменьшим ширину изображения магазина */
  height: auto; /* Разрешим менять высоту, чтобы сохранить пропорции */
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 300px); /* 3 столбца с шириной 300px каждый */
  grid-gap: 20px; /* расстояние между плитками */
}

.menu-item {
  width: 300px;
  height: 150px;
  background-color: #a0f29f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 10px; /* скругление углов для создания квадратной формы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень для эффекта поднятия */
  transition: transform 0.3s; /* добавляем плавное изменение при наведении */
}

.menu-item:hover {
  transform: scale(1.1); /* увеличиваем размер при наведении */
}


.list{
  display: flex;
  
}

.list_item{
  margin-right: 15px;
  width: 300px;
  height: 150px;
  background-color: #a0f29f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 10px; /* скругление углов для создания квадратной формы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень для эффекта поднятия */
  transition: transform 0.3s;
}

.list_item:hover{
  transform: scale(1.1);
}

.list_item:last-child{
  margin-right: 0;
}

@media (max-width: 700px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Установка высоты для .wrapper по высоте содержимого */
  }
  
  .container {
    display: flex;
    flex-direction: column; /* Изменение направления flex на колонки */
    align-items: center; /* Выравнивание по центру по горизонтали */
  }
  
  .hello-text {
    text-align: center;
    font-size: 35px; /* Увеличение размера текста для элемента .hello-text */
    line-height: 1.5;
    margin-top: 10px; /* Добавим отступ сверху для текста */
    margin-bottom: 10px; /* Добавим отступ снизу для текста */
      color: rgb(114, 114, 114);  /* Цвет текста */
  }
  
  .main-img {
    width: 200px; /* Уменьшим ширину изображения */
  }
  
  .text {
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 10px; /* Добавим отступ сверху для текста */
      color: rgb(114, 114, 114);  /* Цвет текста */
  }
  
  .img-ozon {
    width: 200px; /* Уменьшим ширину изображения магазина */
    height: auto; /* Разрешим менять высоту, чтобы сохранить пропорции */
  }
  .img-2048 {
  width: 50px; /* Уменьшим ширину изображения магазина */
  height: auto; /* Разрешим менять высоту, чтобы сохранить пропорции */
}
.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 300px;
  height: 150px;
  margin-bottom: 15px;
  background-color: #a0f29f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 10px; /* скругление углов для создания квадратной формы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень для эффекта поднятия */
  transition: transform 0.3s; /* добавляем плавное изменение при наведении */
}

.menu-item:hover {
  transform: scale(1.1); /* увеличиваем размер при наведении */
}
.list{
  display: flex;
  flex-direction: column;
}

.list_item{
  margin-bottom: 10px;
  width: 200px;
  height: 75px;
  background-color: #a0f29f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 10px; /* скругление углов для создания квадратной формы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тень для эффекта поднятия */
  transition: transform 0.3s;
}

.list_item:hover{
  transform: scale(1.1);
}

.list_item:last-child{
  margin-bottom: 0;
}
}
